@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOutf" method="post" id="logoutForm" class="navbar-right">

        <ul class="nav navbar-nav navbar-right">

            <li>

                <p>Hello @UserManager.GetUserName(User)!</p>

            </li>

            <li>

                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>

            </li>

        </ul>

    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">Mewngofnodi</a></li>
    </ul>
}
